---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Banner from '../components/Banner.astro';
import About from '../components/About.astro';
import MyWork from '../components/MyWork.astro';
import Form from '../components/Form.astro';
import SkillsAndTools from '../components/SkillsAndTools.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Frontend Developer ">
	<main>
       <Header />
       <Banner />
       <About />
       <SkillsAndTools />
       <MyWork />
       <Form />
	</main>
	<Footer />
</Layout>

<style is:global>
       #dev-toolbar-root {
  display: none !important;
}
html {
       scroll-behavior: smooth;
}
.container {
       padding: 0 20px;
}
@media (max-width: 575px) {
       h2 {
              font-size: 40px !important;
       }

}

</style>
